/*******************element tag***************/
body{
  margin: 0;
  text-align: center;
  font-family: verdana,sans-serif;
  color:#40514E;
}

img{
/*  border:3px solid black;*/
}


h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  font-size: 3rem;

}

h2{
  color: #66BFBF;
  padding: 20px;
}

a{
  color: #11999E;
  text-decoration: none;
}


.bottom-container a{
  color: #11999E;
  text-decoration: none;
  margin-right: 30px;

}

.bottom-container a:hover
{
  color:white;
  border-bottom:2px solid white;
}

hr{
  border-style: none;
  border-top: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
  margin-top: 80px;
  margin-bottom: 80px;
}

/***************************************************/
.programmer{
  position: relative;
  left: 0;
}


/************class tag************/
.top-containter{
  background-color: #e3fdfd;
  height:10%;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.intro{
  width: 30%;
  margin: auto;
}
.middle-container{
  height: 20%;
  width: 100%;
}


.top-cloud{
  position: relative;
  left: 30%;
}

.mountain{
  width: 70%;
  margin-top: 50px;
  margin-bottom: 0;
}


.bottom-cloud{
    position:absolute;
}
.bottom-container{

  height: 100px;
  width:100%;
}

.pro{
  text-decoration: underline;
}

.skills{
  width:100%;
  height: 20%;
}

.mohammed-image{
  width: 20%;
  height: 20%;
}

/**********skills**********/
.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;
}


.web-img{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.cs-img{
  width: 25%;
  float: right;
}



.h3-cp{
  margin-left: 100px;
}

.par{
  position: absolute;
  margin-left: 340px;
  margin-top: 60px;
}



.h3-color{
  color:#11999E;
}

/****************************/

.contact-me{
  line-height: 2;
  margin-bottom: 20px;
}



.bottom-container{
  background-color: #66BFBF;
  padding-top:20px;
}

.last-p{
  color:white;
  text-decoration: none;
  font-size: 1rem;
}



.h2-sizing{
  color:#66BFBF;
  font-weight: normal;
  line-height: 2;
}
